.td {
    padding: 50px 50px 50px ;
    padding-left: 50px;
    text-align: left;
}

.h1 {
    margin: center;
    text-align: center;
}

.button {
    margin: center;
    align-self: center;
}

.td {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}


  .deleteButton {
    background-color: rgb(170, 0, 0);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
